<div class='bg-black h-screen flex justify-center items-center'>
    <% @games.each do |game| %>
      <%= link_to 'Show', game %>
      <%= link_to 'Edit', edit_game_path(game) %>
      <%= link_to 'Destroy', game, method: :delete %>
    <% end %>
  

  <%= link_to new_game_path do %>
    <div class='w-40 h-40 bg-white'></div>
  <% end %>
</div>
